.timeLine {
    position: absolute;
    top: 53%;
    z-index: 2;
}
.ref{
    position: absolute;
}
.timeLine hr {
    border: 2px solid #888;
    width: 120vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media (min-width: 2000px) {
    .timeLine{
        top: 37.5%;
    }
  }
  
  @media (max-width: 1441px) {
    .timeLine{
        top: 52%;
    }
  }
  
  @media (max-width: 1025px) {
    .timeLine{
        top: 55%;
    }
  }
  
  @media (max-width: 790px) {
    .timeLine{
        top: 54.5%;
    }
  }
  
  @media (max-width: 500px) {
    .timeLine{
        top: 54%;
    }
  }
  
  @media (max-width: 390px) {
    .timeLine{
        top: 55%;
    }
  }
  
  @media (max-width: 330px) {
    .timeLine{
        top: 57%;
    }
  
  }