.timeLine{
  position: relative !important ;
  top: 100%;
}
.ref{
    position: absolute;
}
.timeLine hr {
    position: relative;
    border: 2px solid #888;
    width: 130%;
    left: -50px;

}

.lineCon {
    display: flex;
    flex-direction: row;
}
